*~
output/*
Doc/output/*
slides/slides.aux
slides/slides.log
slides/slides.nav
slides/slides.out
slides/slides.pdf
slides/slides.snm
slides/slides.synctex.gz
slides/slides.toc
slides/tex_sample.aux
slides/tex_sample.log
slides/tex_sample.nav
slides/tex_sample.out
slides/tex_sample.pdf
slides/tex_sample.snm
slides/tex_sample.synctex.gz
slides/tex_sample.toc

